.experience-component {
  text-align: left;
  padding: 25px;
  background-color: white;
  border-radius: 30px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10), 0 3px 10px 0 rgba(0, 0, 0, 0.08);
}

.experience-component .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.experience-component .edit-icons>* {
  size: large;
  cursor: pointer;
}

.experience-component .table {
  max-height: 30vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.experience-component .table > div:nth-child(odd) {
  background-color: lightgray;
}

.experience-component .grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 0px 0px;
  grid-template-areas: 
    "Title Title Title Icon"
    "Subtitle Subtitle Subtitle Subtitle"
    "Description Description Description Description";
  margin-bottom: 7px;
}

.experience-component .grid .title {
  grid-area: Title; 
}

.experience-component .grid .edit-icons {
  grid-area: Icon; 
  justify-self: right;
}

.experience-component .grid .subtitle {
  grid-area: Subtitle; 
  font-style: italic;
  margin-bottom: 2px;
}

.experience-component .grid .description {
  grid-area: Description;
}