.users-page {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.users-page .users-search {
  margin: 2vh 2vw;
  /* display: flex;
  flex-direction: column;
  gap: 10px; */
}

.users-page .search-results {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
  padding: 25px;
  background-color: white;
  border-radius: 30px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10), 0 3px 10px 0 rgba(0, 0, 0, 0.08);
}