.profile-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.profile-page .sidebar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 2vw 2vh;
  height: 100%;
}

.profile-page .sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.profile-page #summary {
  flex: 1 1 0;
}

.profile-page #experience {
  flex: 2 1 0;
}

.profile-page .sidebar-content {
  margin-bottom: auto;
}