.contact-component {
  display: flex;
  flex-direction: column;
}
    
.contact-component .header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  row-gap: 5vw;
}
    
.contact-component .edit-icons > * {
  font-size: large;
  cursor: pointer;
}