.contact-component {
  text-align: left;
}
    
.contact-component .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
    
.contact-component .edit-icons > * {
  font-size: large;
  cursor: pointer;
}