.feed-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.feed-page .feed-container {
  display: flex;
  flex-direction: column;
  gap: 4vh;
  margin: 4vh 2vw;
  height: 100%;
}

.feed-page .feed-container h2 {
  text-align: left;
}

.feed-page .results {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
}