div.sign-up-page div#border {
  border: 10px solid #0055cd;
  margin: 30px 25vw;
  padding: 15px;
}

div.sign-up-page div#header {
  /* white-space: pre-line; */
  font-size: min(5vw, 10vh);
  margin-bottom: 20px;
  font-weight: bold;
  color: #0055cd;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input {
  display: inline-block;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 12px;
  font-size: large;
  border: 5px solid #0055cd;
  background-color: white;
  color: #0055cd;
}

.submit-button {
  background-color: #0055cd;
  color: white;
}