.sign-in-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sign-in-page #border {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 10px solid #0055cd;
    margin: 5vh 25vw;
    padding: 5vh;
}

.sign-in-page #header {
    white-space: pre-line;
    font-size: 10vh;
    font-weight: bold;
    color: #0055cd;
}

.sign-in-page form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sign-in-page .error-message {
    color: red;
}

.form-fields {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input {
    padding: 10px 20px;
    margin: 5px;
    border-radius: 12px;
    font-size: large;
    border: 5px solid #0055cd;
    background-color: white;
    color: #0055cd;
}

input[type=submit] {
    background-color: #0055cd;
    color: white;
    cursor: pointer;
}