@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700');


/* body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
} */

/* body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
  } */
/* 
  body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
  } */


  /* body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
  } */

  body {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 16px;
  }

  .buttond:hover{

background-color: #0a66c2;
color: white !important;
  }