.biography-component {
  text-align: left;
}
  
.biography-component .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
  
.biography-component .edit-icons > * {
  font-size: large;
  cursor: pointer;
}